/* UMUM START */
/* UMUM START */

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --warna-primary: #ffc602;
  --warna-sekunder: #49e2b6;
  --warna-tulisan: #333;
  --warna-tulisan2: #fff;
  --font-family: "Titillium Web", sans-serif;
  --font-family2: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: var(--warna-tulisan);
  /* font-family: var(--font-family2); */
  font-family: "Permanent Marker", cursive;
}

.invisible {
  display: none;
}
.btn-custom {
  text-transform: uppercase;
  color: #fff;
  background-color: var(--warna-primary);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  /* transition: all 0.5s linear; */
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: var(--warna-sekunder);
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* UMUM END*/
/* UMUM END*/

/* NAVIGATION START */
/* NAVIGATION START */
#menu {
  transition: all 0.8s;
  font-family: "Raleway", sans-serif;
  background-color: var(--warna-primary);
  max-width: 100%;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav a {
  font-size: clamp(18px, 2vw, 24px);
  margin: 0 0.5rem 0 0.5rem;
  color: var(--warna-tulisan);
}

/* NAVIGATION END */
/* NAVIGATION END */

/* FOOTER START */
/* FOOTER START */
/* Footer Section*/
#footer {
  background: var(--warna-primary) !important;
}
#footer p {
  color: var(--warna-tulisan) !important;
  font-size: 14px;
  margin-bottom: 0 !important;
}
#footer a {
  color: var(--warna-tulisan) !important;
  text-decoration: none;
}
#footer a:hover {
  border-bottom: 2px solid var(--warna-sekunder) !important;
}
.footer-section {
  margin-left: 70px;
}
/* FOOTER END */
/* FOOTER END */

/* MAINHERO START */
/* MAINHERO START */
.mainhero-section {
  padding: 100px 0px 100px 0px;
  height: 100vh;
  background-color: #e5e5e5;
  align-content: center;
}

.mainhero-section .text {
  position: relative;
  z-index: 1;
  text-align: center;
}

.intro {
  display: table;
  position: relative;
  width: 100%;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}
/* MAINHERO END */
/* MAINHERO END */

/* CONTACT START */
/* CONTACT START */
.contact-section {
  padding: 175px 0 100px 0;
  background: linear-gradient(to right, #ffc602 0%, #49e2b6 100%);
  color: rgba(255, 255, 255, 0.75);
}
.contact-section .section-title {
  margin-bottom: 40px;
}
.contact-section .section-title p {
  color: var(--warna-tulisan2);
  font-size: 16px;
}
.contact-section h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.contact-section .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
.contact-section h3 {
  color: #fff;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
.contact-section form {
  padding-top: 20px;
}
.contact-section .text-danger {
  color: #cc0033;
  text-align: left;
}
.contact-section .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
.contact-section .btn-custom:hover {
  color: #1f386e;
  background: #fff;
}
label {
  color: var(--warna-tulisan);
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  float: left;
}
.contact-section .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.contact-section .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
.contact-section .contact-item {
  margin: 20px 0;
}
.contact-section .contact-item span {
  color: rgba(255, 255, 255, 1) !important;
  margin-bottom: 10px;
  display: block;
}
.contact-section .contact-item a {
  color: var(--warna-tulisan2) !important;
}
.contact-section .contact-item i.fa {
  margin-right: 10px;
}
.contact-section .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
.contact-section .social ul li {
  display: inline-block;
  margin: 0 20px;
}
.contact-section .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.contact-section .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}
/* CONTACT END */
/* CONTACT END */

/* ADVANTAGE START */
/* ADVANTAGE START */

.advantage-section {
  padding: 100px 0 100px 0;
}

.advantage-section .wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Sesuaikan jika ingin menyesuaikan posisi vertikal */
  flex-wrap: wrap; /* Memungkinkan item melipat ke baris berikutnya */
}

.advantage-section .wrapper .content {
  padding: 0 !important;
}

.advantage-section .wrapper img {
  max-width: 75% !important;
  border-radius: 50%;
  transition: ease-in-out 1.5s;
}

/* .advantage-section .wrapper img:hover {
  border-radius: 0%;
  max-width: 60% !important;
} */
/* ADVANTAGE END */
/* ADVANTAGE END */

/* SERVICE START */
/* SERVICE START */

.service-section {
  padding: 100px 10px 100px 10px;
}

.service-section .wrapper {
  text-align: center;
}

.service-section .wrapper h1 {
  text-align: start;
  padding: 0 !important;
}
/* SERVICE END */
/* SERVICE END */

/* DETAIL START */
/* DETAIL START */
.detail-section {
  padding: 10rem 2rem 10rem 2rem;
  background-color: #e5e5e5;
  align-content: center;
}
.detail-section .wrapper {
  padding: 0 5rem 0 5rem;
}

.detail-section .wrapper img {
  text-align: center;
}
.detail-section .wrapper h1 {
  text-align: center;
}
.detail-section .wrapper h1 {
  text-align: center;
}
@media (max-width: 426px) {
  .detail-section .wrapper {
    padding: 0 1rem 0 1rem;
  }
}
/* DETAIL END */
/* DETAIL END */
